In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_rows", 15)

LARGE_FIGSIZE = (12, 8)

In [39]:
df = pd.read_csv('C:/Users/Kate/PycharmProjects/test/test/P9-ConsumerComplaints.csv',
                 header = 0,
                 na_values=['N/A'],
                 index_col = 'Complaint ID',
                 true_values=['Yes'],
                 false_values=['No']
                 )
df.head()

C:\Users\Kate\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (5,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Date Received,Product Name,Sub Product,Issue,Sub Issue,Consumer Complaint Narrative,Company Public Response,Company,State Name,Zip Code,Tags,Consumer Consent Provided,Submitted via,Date Sent to Company,Company Response to Consumer,Timely Response,Consumer Disputed
Complaint ID,,,,,,,,,,,,,,,,,
468882,2013-07-29,Consumer Loan,Vehicle loan,Managing the loan or lease,NaN,NaN,NaN,Wells Fargo & Company,VA,24540,NaN,NaN,Phone,2013-07-30,Closed with explanation,True,False
468889,2013-07-29,Bank account or service,Checking account,Using a debit or ATM card,NaN,NaN,NaN,Wells Fargo & Company,CA,95992,Older American,NaN,Web,2013-07-31,Closed with explanation,True,False
468879,2013-07-29,Bank account or service,Checking account,"Account opening, closing, or management",NaN,NaN,NaN,Santander Bank US,NY,10065,NaN,NaN,Fax,2013-07-31,Closed,True,False
468949,2013-07-29,Bank account or service,Checking account,Deposits and withdrawals,NaN,NaN,NaN,Wells Fargo & Company,GA,30084,NaN,NaN,Web,2013-07-30,Closed with explanation,True,False
475823,2013-07-29,Mortgage,Conventional fixed mortgage,"Loan servicing, payments, escrow account",NaN,NaN,NaN,Franklin Credit Management,CT,6106,NaN,NaN,Web,2013-07-30,Closed with explanation,True,False

In [40]:
df['Date Received'] = pd.to_datetime(df['Date Received'])

In [ ]:
# df['Consumer Disputed'] = df['Consumer Disputed'].applymap(lambda value: pd.to_numeric(value, errors='coerce'))

In [85]:
df.dtypes

Date Received                   datetime64[ns]
Product Name                            object
Sub Product                             object
Issue                                   object
Sub Issue                               object
                                     ...
Submitted via                           object
Date Sent to Company                    object
Company Response to Consumer            object
Timely Response                           bool
Consumer Disputed                       object
Length: 17, dtype: object

In [42]:
date_start = pd.to_datetime('2013-07-29')
date_end = pd.to_datetime('2019-07-30')

In [87]:
# all product names
df[(df['Date Received'] >= date_start) & (df['Date Received'] <= date_end)]['Product Name'].unique()

array(['Consumer Loan', 'Bank account or service', 'Mortgage',
       'Debt collection', 'Credit card', 'Credit reporting',
       'Student loan', 'Money transfers', 'Payday loan',
       'Other financial service', 'Prepaid card'], dtype=object)

In [70]:
# complaints for each product
df[(df['Date Received'] >= date_start) & (df['Date Received'] <= date_end)][['Product Name','Issue']].sort_values('Product Name')

,Date Received,Product Name,Issue
Complaint ID,,,
912399,2014-06-26,Bank account or service,Problems caused by my funds being low
877582,2014-06-02,Bank account or service,"Account opening, closing, or management"
913676,2014-06-26,Bank account or service,Deposits and withdrawals
906399,2014-06-23,Bank account or service,Deposits and withdrawals
552999,2013-10-04,Bank account or service,Deposits and withdrawals
...,...,...,...
1038506,2014-09-22,Student loan,Dealing with my lender or servicer
499466,2013-08-21,Student loan,Repaying your loan
723501,2014-02-20,Student loan,Can't repay my loan
1038124,2014-09-21,Student loan,Dealing with my lender or servicer
896898,2014-06-16,Student loan,Can't repay my loan

In [82]:
# how much with timely response
df[(df['Date Received'] >= date_start) & (df['Date Received'] <= date_end) & (df['Timely Response'] == True)][['Product Name','Timely Response']].groupby('Product Name').sum()

                         Timely Response
Product Name
Bank account or service             6432
Consumer Loan                       2298
Credit card                         6387
Credit reporting                   12015
Debt collection                    15122
Money transfers                      494
Mortgage                           18161
Other financial service               53
Payday loan                          578
Prepaid card                         186
Student loan                        1794

In [83]:
# how much disputed by customer
df[(df['Date Received'] >= date_start) & (df['Date Received'] <= date_end) & (df['Consumer Disputed'] == True)][['Product Name','Consumer Disputed']].groupby('Product Name').sum()

                         Consumer Disputed
Product Name
Bank account or service               1211
Consumer Loan                          530
Credit card                           1381
Credit reporting                      1989
Debt collection                       2916
Money transfers                         68
Mortgage                              4429
Other financial service                  9
Payday loan                            100
Prepaid card                            31
Student loan                           342